<style>
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .flex div.panel{
        width: 49%;
        max-width: 49%;
        overflow: hidden;
        display: inline-block;
    }
    .panel-default > .panel-heading {
        background-color: #e8edf0;
    }
    .info-text {
        color: grey;
    }

</style>

<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <input type="hidden" id="config_id" {notempty name="config_id" }value="{$config_id|htmlentities}" {/notempty}>

        <ul class="nav nav-tabs" data-field="status">
            <li class="active"><a href="#t-system" data-toggle="tab">系统配置</a></li>
            <li><a href="#t-page" data-toggle="tab">页面配置</a></li>
            <li><a href="#t-ad" data-toggle="tab">流量主配置</a></li>
            <li><a href="#t-wechat" data-toggle="tab">微信配置</a></li>
            <li><a href="#t-score" data-toggle="tab">积分配置</a></li>
            <li><a href="#t-member" data-toggle="tab">会员配置</a></li>
        </ul>
    </div>

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">

            <!-- 系统配置 -->
            <div class="tab-pane fade active in" id="t-system">
                {include file="../application/admin/view/exam/config_info/system.html" /}
            </div>

            <!-- 页面配置 -->
            <div class="tab-pane fade flex" id="t-page">
                {include file="../application/admin/view/exam/config_info/page.html" /}
            </div>

            <!-- 流量主 -->
            <div class="tab-pane fade flex" id="t-ad">
                {include file="../application/admin/view/exam/config_info/ad.html" /}
            </div>

            <!-- 微信配置 -->
            <div class="tab-pane fade" id="t-wechat">
                {include file="../application/admin/view/exam/config_info/wechat.html" /}
            </div>

            <!-- 会员配置 -->
            <div class="tab-pane fade" id="t-member">
                {include file="../application/admin/view/exam/config_info/member.html" /}
            </div>

            <!-- 积分配置 -->
            <div class="tab-pane fade" id="t-score">
                {include file="../application/admin/view/exam/config_info/score.html" /}
            </div>

        </div>
    </div>
</div>
<style>
    .select {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 80px;
        width: 80px;
        z-index: 10;
    }

    .block-img {
        width: 280px;
        height: 250px;
        position: absolute;
        bottom: 0px;
        left: 10px;
    }

    .thumbnail {
        margin-left: 20px;
    }

    .ads {
        display: none;
    }
</style>


