<form class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">小程序AppId:</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-appid" data-rule="required" class="form-control" name="row[appid]" type="text"
             {notempty name="$row.appid" }value="{$row['appid']}" {/notempty}>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">小程序Secret:</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-secret" data-rule="required" class="form-control" name="row[secret]"
             type="text" {notempty name="$row.secret" }value="{$row['secret']}" {/notempty}>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">微信支付商户号:</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-pay_mchid" data-rule="required" class="form-control" name="row[pay_mchid]" type="text"
             {notempty name="$row.pay_mchid" }value="{$row['pay_mchid']}" {/notempty}>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">微信支付KEY（V2）:</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-pay_key" data-rule="required" class="form-control" name="row[pay_key]"
             type="text" {notempty name="$row.pay_key" }value="{$row['pay_key']}" {/notempty}>
    </div>
  </div>

  <input type="hidden" name="type" value="wx">
  <div class="form-group layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
      <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
      <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
    </div>
  </div>
</form>
