<script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="__CDN__/assets/addons/exam/js/vue.js"></script>
<link rel="stylesheet" type="text/css" href="__CDN__/assets/addons/exam/css/common.css"></link>
<script src="__CDN__/assets/addons/exam/js/element-ui/index.js"></script>
<link rel="stylesheet" type="text/css" href="__CDN__/assets/addons/exam/js/element-ui/index.css"></link>

<div class="row" id="app">
    <div class="col-md-6">
        <form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">{:__('Cert_config_id')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="c-cert_config_id" data-rule="required" min="0" data-source="exam/cert_config/index" class="form-control selectpage" name="row[cert_config_id]" type="text" value="{$Think.get.cert_config_id|default=''}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">{:__('Min_score')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="c-min_score" data-rule="required" class="form-control" name="row[min_score]" type="number" value="0">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group">
                        <input id="c-image" data-rule="required" class="form-control" size="50" name="row[image]" type="text">
                        <div class="input-group-addon no-border no-padding">
                            <span><button type="button" id="faupload-image" class="btn btn-danger faupload" data-input-id="c-image" data-mimetype="image/jpeg" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                            <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                        </div>
                        <span class="msg-box n-right" for="c-image"></span>
                    </div>
                    <ul class="row list-inline faupload-preview" id="p-image"></ul>
                    <p class="help-block">* 仅支持jpg图片文件格式</p>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">{:__('Field_config')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <textarea id="c-field_config" data-rule="required" class="form-control " rows="5" name="row[field_config]" cols="50"></textarea>
                </div>
            </div>-->
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
                <div class="col-xs-12 col-sm-8">

                    <div class="radio">
                        {foreach name="statusList" item="vo"}
                        <label for="row[status]-{$key|htmlentities}"><input id="row[status]-{$key|htmlentities}" name="row[status]" type="radio" value="{$key|htmlentities}" {in name="key" value="1"}checked{/in} /> {$vo|htmlentities}</label>
                        {/foreach}
                    </div>

                </div>
            </div>

            {include file="../application/admin/view/exam/cert_template/fields.html" /}

            <div class="form-group layer-footer">
                <label class="control-label col-xs-12 col-sm-2"></label>
                <div class="col-xs-12 col-sm-8">
                    <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
                    <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                </div>
            </div>
        </form>
    </div>

    {include file="../application/admin/view/exam/cert_template/preview.html" /}
</div>

{include file="../application/admin/view/exam/cert_template/script.html" /}
