<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cert_config_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cert_config_id" data-rule="required" min="0" data-source="exam/cert_config/index" class="form-control selectpage" name="row[cert_config_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cert_template_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cert_template_id" data-rule="required" min="0" data-source="exam/cert_template/index" class="form-control selectpage" name="row[cert_template_id]" type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">所属考场:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-room_id" data-rule="required" min="0" data-source="exam/room/index" class="form-control selectpage" name="row[room_id]" type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">报名人:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-room_grade_ids" data-rule="required" min="0" data-source="exam/room_grade/getByRank" data-multiple="true" data-primary-key="id" data-field="real_name" data-format-item="{school_name} - {class_name} - {real_name} - {nickname}({user_id})" class="form-control selectpage" name="row[room_grade_ids]" type="text" value="">
            <!--<input id="c-room_signup_ids" data-rule="required" min="0" data-source="exam/room_signup/index" data-multiple="true" data-primary-key="id" data-field="real_name" data-format-item="({user_id}){real_name} - {class_name}" class="form-control selectpage" name="row[room_signup_ids]" type="text" value="">-->
            <p class="help-block">* 数据来源于考场排行榜，若无数据，请先到考场列表执行【刷新排行榜】操作再试</p>
        </div>
    </div>
    <!--<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Paper_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-paper_id" data-rule="required" min="0" data-source="exam/paper/index" class="form-control selectpage" name="row[paper_id]" type="text" value="">
        </div>
    </div>-->
    <!--<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('user_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_name" data-rule="required" class="form-control" name="row[user_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Score')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-score" data-rule="required" class="form-control" name="row[score]" type="number" value="0">
        </div>
    </div>-->
    <!--<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" data-rule="required" class="form-control" size="50" name="row[image]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-image" class="btn btn-danger faupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/webp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-image"></ul>
        </div>
    </div>-->
    <!--<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key|htmlentities}"><input id="row[status]-{$key|htmlentities}" name="row[status]" type="radio" value="{$key|htmlentities}" {in name="key" value="1"}checked{/in} /> {$vo|htmlentities}</label>
            {/foreach}
            </div>

        </div>
    </div>-->
    <!--<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Source')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-source" data-rule="required" class="form-control selectpicker" name="row[source]">
                {foreach name="sourceList" item="vo"}
                    <option value="{$key|htmlentities}" {in name="key" value="paper"}selected{/in}>{$vo|htmlentities}</option>
                {/foreach}
            </select>

        </div>
    </div>-->
    <!--<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Expire_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-expire_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[expire_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>-->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
